.navbar {
    padding: 0 2rem;
}
.navigation .navbar-brand h1 {
    margin: 0;
    color: #28a745;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}

.navigation .nav-link {
    font-size: 1.3rem;
    display: inline-block;
    transition: .3s ease;
    margin: 0 .5rem;
}

.navigation .nav-link:hover, .navigation .nav-link:focus {
    color: #ffc107 !important;
}

.navigation .active {
    color: red;
}

.navigation .download-cv {
    color: #ffc107 !important;
    border: 3px solid #ffc107;
    border-radius: 5px;
    font-weight: bold;
    transition: .3s ease;
}

.navigation .download-cv:hover {
    color: #28a745 !important;
    border: 3px solid #28a745;
}

.green {
    color: #28a745 !important;
}

.yellow {
    color: #ffc107 !important;
}

.social-links {
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.social-links:before, .social-links:after {
    content: "";
    display: inline-block;
    height: 37.5vh;
    width: 5px;
    background: #28a745;
    transition: .3s ease;
    z-index: -1;
    top: 0;
}

.social {
    margin: .5rem;
    transition: .3s ease;
}

.social:hover {
    transform: skew(20deg)
}

.home {
    min-height: 80vh;
}

.my-img-container {
    height: 300px;
    width: 300px;
    position: relative;
}

.my-img-container img {
    width: 95%;
    height: 95%;
    border-radius: 5% 30%;
    border: 10px solid #ffc107;
    position: absolute;
    top: 0;
    left: 0;
}

.my-img-container .box {
    width: 90%;
    height: 90%;
    border-radius: 5% 30%;
    border: 10px solid #28a745;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #28a745;
    z-index: -1;
}

.home .intro {
    font-size: 20px;
    width: 60%;
    margin: auto;
}

.primary-btn {
    display: inline-block;
    border: 3px solid #ffc107;
    color: #ffc107;
    background-color: #28a745;
    padding: .5rem 1rem;
    margin: 1rem 1rem;
    border-radius: 50%;
    font-size: 25px;
    transition: .3s ease;
}

.primary-btn:hover {
    border: 3px solid #28a745;
    background-color: #ffc107;
}

.hire, .resume {
    display: inline-block;
    color: #ffc107;
    border-radius: 5px;
    padding: .5rem 1rem;
    text-decoration: none !important;
    font-weight: bold;
    transition: .3s ease;
}

.hire {
    margin-right: .5rem;
    border: 3px solid #ffc107;
}

.resume {
    margin-left: .5rem;
    background-color: #28a745;
    border: 3px solid #28a745;
}

.hire:hover {
    color: #28a745;
    border: 3px solid #28a745;
}

.resume:hover {
    color: #28a745;
    background-color: #ffc107;
    border: 3px solid #ffc107;
}

/* ABOUT SECTION */

.about-img img {
    width: 100%;
    border-radius: 70% 60% 90% 100%;
    border: 10px solid #ffc107;
}

.about-img {
    width: 70%;
    position: relative;
}

.about-img:after {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #28a745;
    left: 0;
    z-index: -1;
    border-radius: 80% 10% 40% 30%;
}

.skill {
    position: relative;
}

.skill h1 {
    display: inline-block;
    background-color: #0e041f
}

.skill h1::before, .skill h1::after {
    height: 5px;
    width: 100%;
    position: absolute;
    background: #28a745;
    content: "";
    z-index: -1;
    top: 45%;
}

.skill h1::before {
    left: 0;
}

.skill h1::after {
    right: 0;
}

.skills-logo svg {
    font-size: 50px;
}

.about .skills-logo .col-2 {
    padding: 1rem;
    margin-bottom: 2rem;
}

/* next */

td a {
    color: #ffc107;
}

.touch {
    border-bottom: 5px solid #28a745;
}

.vl {
    height: 100%;
    border-left: 10px solid #28a745;
    position: absolute;
    right: 0;
}

.contact-area form {
    width: 80%;
}

.contact-area input, .contact-area textarea {
    display: inline-block;
    width: 100%;
    color: #ffc107;
    background-color: transparent;
    font-size: 1.3rem;
    border: none;
    border-bottom: 3px solid #28a745 !important;
    border-radius: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.contact-area input:focus, .contact-area textarea:focus {
    outline: none;
}

::placeholder {
    color: #ffc107
}

.contact-area button {
    display: inline-block;
    background-color: #28a745;
    color: #ffc107;
    border: 3px solid #ffc107;
    border-radius: 5px;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    transition: .3s ease;
}

.contact-area button:hover {
    background-color: #ffc107;
    color: #28a745;
    border: 3px solid #28a745;
}

.card {
    transition: .3s ease;
}

.card:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
    transform: rotate(3deg);
}

.portfolio .project {
    border-bottom: 5px solid #ffc107;
}

.portfolio .project-container {
    width: 80%;
}

.portfolio img {
    width: 100%
}

.card {
    background-color: transparent;
    border: 5px solid #28a745;
}

.card-body {
    background-color: transparent;
}

.card-text {
    height: 100px;
    overflow: hidden;
}